<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Server=localhost\SQLEXPRESS;Database=randevu_sistemi;Integrated Security=True;TrustServerCertificate=True;Connection Timeout=30;" />
    <add name="DefaultConnectionSQLEXPRESS" connectionString="Server=localhost\SQLEXPRESS;Database=randevu_sistemi;Integrated Security=True;TrustServerCertificate=True;Connection Timeout=30;" />
    <add name="DefaultConnectionSA" connectionString="Server=localhost\SQLEXPRESS;Database=randevu_sistemi;User Id=sa;Password=13579Mami.*;TrustServerCertificate=True;Connection Timeout=30;" />
    <add name="DefaultConnectionLocalDB" connectionString="Server=(localdb)\mssqllocaldb;Database=randevu_sistemi;Trusted_Connection=True;TrustServerCertificate=True;" />
  </connectionStrings>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <remove name="aspNetCore" />
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath=".\RandevuWeb.exe" 
                  arguments="" 
                  stdoutLogEnabled="true" 
                  stdoutLogFile=".\logs\stdout" 
                  stdoutLogMaxFiles="10"
                  stdoutLogFileSizeLimitKB="1024"
                  hostingModel="inprocess"
                  forwardWindowsAuthToken="false">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
          <environmentVariable name="ASPNETCORE_DETAILEDERRORS" value="true" />
          <environmentVariable name="ASPNETCORE_PATH" value="." />
        </environmentVariables>
      </aspNetCore>
      <httpErrors errorMode="Detailed" defaultResponseMode="File">
        <remove statusCode="404" />
        <error statusCode="404" path="/Home/Error" responseMode="ExecuteURL" />
        <remove statusCode="500" />
        <error statusCode="500" path="/Home/Error" responseMode="ExecuteURL" />
      </httpErrors>
      <staticContent>
        <remove fileExtension=".json" />
        <mimeMap fileExtension=".json" mimeType="application/json" />
      </staticContent>
      <urlCompression doStaticCompression="true" doDynamicCompression="true" />
      <httpCompression>
        <dynamicTypes>
          <add mimeType="text/*" enabled="true" />
          <add mimeType="message/*" enabled="true" />
          <add mimeType="application/javascript" enabled="true" />
          <add mimeType="application/json" enabled="true" />
          <add mimeType="*/*" enabled="false" />
        </dynamicTypes>
        <staticTypes>
          <add mimeType="text/*" enabled="true" />
          <add mimeType="message/*" enabled="true" />
          <add mimeType="application/javascript" enabled="true" />
          <add mimeType="application/json" enabled="true" />
          <add mimeType="application/atom+xml" enabled="true" />
          <add mimeType="application/atom+xml;charset=utf-8" enabled="true" />
        </staticTypes>
      </httpCompression>
      <rewrite>
        <rules>
          <rule name="HTTP to HTTPS redirect" stopProcessing="true">
            <match url="(.*)" />
            <conditions>
              <add input="{HTTPS}" pattern="off" ignoreCase="true" />
            </conditions>
            <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
          </rule>
        </rules>
      </rewrite>
    </system.webServer>
  </location>
</configuration>

